<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>

<body>

    <div class="row bg-danger" id="socket_error_message">
        <span class="text-white text-center">Error al establecer conexión con el servidor SOCKET!</span>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col banner rounded py-2">
                <img src="../assets/images/admin-ajax.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col shadow-lg  px-5 py-3">
                <h1 id="bienvenido">Bienvenid@</h1>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="fs-2 fw-bold fw-bold">Nombres:</span>
                        <span id="nombres" class="fs-2 mx-3"></span>
                    </li>
                    <li class="list-group-item">
                        <span class="fs-2 fw-bold">Apellidos:</span>
                        <span id="apellidos" class="fs-2 mx-3"></span>
                    </li>
                    <li class="list-group-item">
                        <span class="fs-2 fw-bold">Cédula:</span>
                        <span id="cedula" class="fs-2 mx-3"></span>
                    </li>
                    <li class="list-group-item">
                        <span class="fs-2 fw-bold">Email:</span>
                        <span id="email" class="fs-2 mx-3"></span>
                    </li>
                    <li class="list-group-item">
                        <div class="text-center image_container my-3">
                            <img src="../assets/images/men.png" alt="">
                            <img src="../assets/images/women.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/socket.io-client/dist/socket.io.min.js"></script>
    <script src="../assets/js/app.js"></script>
</body>

</html>